python-docx
pymupdf
Pillow
pdfplumber

sentence-transformers
FlagEmbedding
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
spacy

pandas
numpy
openpyxl
dotenv
python-dotenv


tqdm
loguru
requests
rapidfuzz
sentencepiece

openai
streamlit_autorefresh 
nltk
streamlit
