python-docx
pymupdf
Pillow
pdfplumber

sentence-transformers
FlagEmbedding
torch
spacy

pandas
numpy
openpyxl
dotenv
python-dotenv


tqdm
loguru
requests
rapidfuzz
sentencepiece

openai
streamlit_autorefresh 
nltk
streamlit